In [3]:
import os
x = %pwd
if(x == "d:\\projects\\MLOps\\Sign-Language-Recognition\\research"):
    os.chdir("../")
%pwd

'd:\\projects\\MLOps\\Sign-Language-Recognition'

In [3]:
import pandas as pd
import numpy as np

C:\Users\mp123\AppData\Local\Temp\ipykernel_22376\2937650959.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [4]:
BASE_PATH = "research/Data/"
list_dir = os.listdir("research\Data")
# list_dir

In [5]:
df = pd.DataFrame()

for i in list_dir:
    temp = pd.read_csv(BASE_PATH + i)
    df = pd.concat([df, temp])
print(df.shape)
df.head()

(108801, 64)

,0x,0y,0z,1x,1y,1z,2x,2y,2z,3x,...,18x,18y,18z,19x,19y,19z,20x,20y,20z,label
0,0.748661,0.901307,2.166680e-07,0.648591,0.852109,-0.038984,0.591874,0.731249,-0.064624,0.609614,...,0.835091,0.429134,-0.093966,0.859620,0.350904,-0.104129,0.876650,0.269721,-0.110173,8
1,0.487145,0.769148,8.809216e-08,0.432618,0.712946,-0.007570,0.396448,0.624670,-0.022186,0.409277,...,0.569506,0.508143,-0.075165,0.553236,0.521554,-0.061810,0.547305,0.557132,-0.047836,1
2,0.581488,0.759327,-6.906775e-07,0.524732,0.704153,-0.024283,0.490160,0.600062,-0.036068,0.459553,...,0.697471,0.511298,-0.054314,0.711872,0.473151,-0.054465,0.727496,0.430913,-0.048093,Y
3,0.504468,0.601624,2.612112e-07,0.555676,0.562564,-0.008350,0.597334,0.500591,-0.010092,0.632521,...,0.484669,0.320274,-0.027803,0.492468,0.272419,-0.028461,0.502275,0.232205,-0.028388,F
4,0.419727,0.926276,8.825230e-07,0.369036,0.820521,-0.012326,0.330976,0.688538,-0.041198,0.298006,...,0.583548,0.664826,-0.131046,0.561765,0.699210,-0.101064,0.547256,0.744196,-0.071816,3

In [6]:
df = df.sample(frac=1).reset_index(drop=True)
df.head()

,0x,0y,0z,1x,1y,1z,2x,2y,2z,3x,...,18x,18y,18z,19x,19y,19z,20x,20y,20z,label
0,0.397745,0.723956,1.018930e-07,0.425051,0.702286,0.002072,0.420859,0.655324,0.011116,0.412982,...,0.370938,0.570244,0.008476,0.386548,0.578768,0.006605,0.398358,0.595288,0.007322,9
1,0.878934,0.147772,-1.947845e-07,0.824613,0.158119,-0.001307,0.769680,0.211956,-0.018524,0.746986,...,0.802236,0.286593,-0.087242,0.813189,0.272939,-0.079014,0.820886,0.246041,-0.072215,Q
2,0.649333,0.710988,1.879827e-07,0.627602,0.681662,-0.004581,0.622998,0.638788,-0.008512,0.628036,...,0.719371,0.611101,-0.032208,0.734346,0.589082,-0.036118,0.747097,0.571213,-0.037721,4
3,0.600372,0.661284,-3.676162e-07,0.674040,0.575862,-0.018337,0.697808,0.451052,-0.027749,0.661655,...,0.543063,0.331698,-0.068467,0.567618,0.400806,-0.054784,0.562667,0.449255,-0.036424,M
4,0.206028,0.679749,1.088318e-06,0.242766,0.585181,0.006942,0.314367,0.547515,-0.009573,0.380275,...,0.416546,0.746297,-0.106435,0.407195,0.732529,-0.075198,0.377385,0.725130,-0.046486,H

In [10]:
df['label'].unique(), len(df['label'].unique())

(array(['9', 'Q', '4', 'M', 'H', 'O', 'N', 'X', 'F', 'R', 'D', 'K', 'I',
        '7', 'L', 'C', '3', 'U', 'J', 'G', '6', '8', 'Y', 'You ', '2', 'P',
        'W', 'V', '1', 'Z', 'T', 'I love you', 'B', 'E', 'S', 'A', '0',
        '5', 'Best of Luck '], dtype=object),
 39)

In [9]:
df.to_csv(f'research/Data/Data.csv', index=False)

In [14]:
# from sklearn.preprocessing import LabelEncoder

# label_encoder = LabelEncoder()

# # Fit and transform the 'Category' column
# df['label_Encoded'] = label_encoder.fit_transform(df['lable'])
# df_encoded = df.drop(['lable', 'lable_Encoded'], axis=1)
# df_encoded.head()
label_encoding_dict = {'A': 0, 'B': 1, 'C': 2, 'D': 3, 'E': 4, 'F': 5, 'G': 6, 'H': 7, 'I': 8, 'J': 9, 'K': 10, 'L': 11, 'M': 12, 'N': 13, 'O': 14, 'P': 15, 'Q': 16, 'R': 17, 'S': 18, 'T': 19, 'U': 20, 'V': 21, 'W': 22, 'X': 23, 'Y': 24, 'Z': 25, '0': 26, '1': 27, '2': 28, '3': 29, '4': 30, '5': 31, '6': 32, '7': 33, '8': 34, '9': 35, 'Best of Luck ': 36, 'You ': 37, 'I love you': 38}
df_encoded = df.copy()
df_encoded['Label_Encoded'] = df_encoded['label'].map(label_encoding_dict)
df_encoded.head()

,0x,0y,0z,1x,1y,1z,2x,2y,2z,3x,...,18y,18z,19x,19y,19z,20x,20y,20z,label,Label_Encoded
0,0.397745,0.723956,1.018930e-07,0.425051,0.702286,0.002072,0.420859,0.655324,0.011116,0.412982,...,0.570244,0.008476,0.386548,0.578768,0.006605,0.398358,0.595288,0.007322,9,35
1,0.878934,0.147772,-1.947845e-07,0.824613,0.158119,-0.001307,0.769680,0.211956,-0.018524,0.746986,...,0.286593,-0.087242,0.813189,0.272939,-0.079014,0.820886,0.246041,-0.072215,Q,16
2,0.649333,0.710988,1.879827e-07,0.627602,0.681662,-0.004581,0.622998,0.638788,-0.008512,0.628036,...,0.611101,-0.032208,0.734346,0.589082,-0.036118,0.747097,0.571213,-0.037721,4,30
3,0.600372,0.661284,-3.676162e-07,0.674040,0.575862,-0.018337,0.697808,0.451052,-0.027749,0.661655,...,0.331698,-0.068467,0.567618,0.400806,-0.054784,0.562667,0.449255,-0.036424,M,12
4,0.206028,0.679749,1.088318e-06,0.242766,0.585181,0.006942,0.314367,0.547515,-0.009573,0.380275,...,0.746297,-0.106435,0.407195,0.732529,-0.075198,0.377385,0.725130,-0.046486,H,7

In [15]:
df_encoded.drop('label', axis=1, inplace=True)
df_encoded.head()

,0x,0y,0z,1x,1y,1z,2x,2y,2z,3x,...,18x,18y,18z,19x,19y,19z,20x,20y,20z,Label_Encoded
0,0.397745,0.723956,1.018930e-07,0.425051,0.702286,0.002072,0.420859,0.655324,0.011116,0.412982,...,0.370938,0.570244,0.008476,0.386548,0.578768,0.006605,0.398358,0.595288,0.007322,35
1,0.878934,0.147772,-1.947845e-07,0.824613,0.158119,-0.001307,0.769680,0.211956,-0.018524,0.746986,...,0.802236,0.286593,-0.087242,0.813189,0.272939,-0.079014,0.820886,0.246041,-0.072215,16
2,0.649333,0.710988,1.879827e-07,0.627602,0.681662,-0.004581,0.622998,0.638788,-0.008512,0.628036,...,0.719371,0.611101,-0.032208,0.734346,0.589082,-0.036118,0.747097,0.571213,-0.037721,30
3,0.600372,0.661284,-3.676162e-07,0.674040,0.575862,-0.018337,0.697808,0.451052,-0.027749,0.661655,...,0.543063,0.331698,-0.068467,0.567618,0.400806,-0.054784,0.562667,0.449255,-0.036424,12
4,0.206028,0.679749,1.088318e-06,0.242766,0.585181,0.006942,0.314367,0.547515,-0.009573,0.380275,...,0.416546,0.746297,-0.106435,0.407195,0.732529,-0.075198,0.377385,0.725130,-0.046486,7

In [17]:
df_encoded.to_csv(f'research/Data/DataEncoded.csv', index=False)

In [45]:
# import pandas as pd
# import numpy as np
import matplotlib.pyplot as plt
import os
import random
from tqdm.notebook import tqdm as tqdm_notebook

import tensorflow as tf
from tensorflow import keras
from keras.layers import Dense, Conv1D, Dropout
from tensorflow.keras import layers
from keras.models import Sequential
# from keras.utils.vis_utils import plot_model
from sklearn.model_selection import train_test_split

import IPython.display as idisplay
# from kerastuner import RandomSearch
# from kerastuner.engine.hyperparameters import HyperParameters

In [46]:
char_to_num = {'A': 0, 'B': 1, 'C': 2, 'D': 3, 'E': 4, 'F': 5, 'G': 6, 'H': 7, 'I': 8, 'J': 9, 'K': 10, 'L': 11, 
               'M': 12, 'N': 13, 'O': 14, 'P': 15, 'Q': 16, 'R': 17, 'S': 18, 'T': 19, 'U': 20, 'V': 21, 'W': 22, 
               'X': 23, 'Y': 24, 'Z': 25, '0': 26, '1': 27, '2': 28, '3': 29, '4': 30, '5': 31, '6': 32, '7': 33,
                 '8': 34, '9': 35, 'Best of Luck ': 36, 'You ': 37, 'I Love You ': 38}


num_to_char = {0: 'A', 1: 'B', 2: 'C', 3: 'D', 4: 'E', 5: 'F', 6: 'G', 7: 'H', 8: 'I', 9: 'J', 10: 'K', 11: 'L', 12: 'M', 13: 'N', 14: 'O', 15: 'P', 
               16: 'Q', 17: 'R', 18: 'S', 19: 'T', 20: 'U', 21: 'V', 22: 'W', 23: 'X', 24: 'Y', 25: 'Z', 26: '0', 27: '1', 28: '2', 29: '3', 30: '4',
                 31: '5', 32: '6', 33: '7', 34: '8', 35: '9', 36: 'Best of Luck ', 37: 'You ', 38: 'I love you '}

idisplay.JSON(data=char_to_num)

In [50]:
X = df_encoded.drop('Label_Encoded', axis = 1)
y = df_encoded[['Label_Encoded']]
print("Landmarks Data of Images:")
display(X.head())
print("\nLables of Landmarks: ")
display(y.head())

Landmarks Data of Images:

,0x,0y,0z,1x,1y,1z,2x,2y,2z,3x,...,17z,18x,18y,18z,19x,19y,19z,20x,20y,20z
0,0.418609,0.802181,-2.316920e-07,0.466264,0.756228,-0.013089,0.490576,0.666653,-0.017820,0.454882,...,-0.021330,0.361009,0.505407,-0.030613,0.373648,0.523685,-0.025483,0.378685,0.558864,-0.018205
1,0.190312,0.825508,3.997076e-07,0.237036,0.761151,-0.026112,0.249642,0.667548,-0.032832,0.207408,...,-0.017997,0.137086,0.524994,-0.025984,0.140548,0.478813,-0.029743,0.146115,0.438433,-0.033148
2,0.247464,0.876645,1.121574e-06,0.368118,0.869626,-0.024790,0.511339,0.777487,-0.039943,0.624750,...,-0.066147,0.406691,0.412773,-0.107593,0.481853,0.374120,-0.125246,0.558011,0.354769,-0.135141
3,0.598952,0.834033,4.312523e-08,0.646684,0.774485,-0.002562,0.686656,0.694930,-0.017409,0.704208,...,-0.095907,0.514546,0.632234,-0.112015,0.525121,0.614514,-0.099995,0.542648,0.621550,-0.087341
4,0.400146,0.672962,-1.769657e-07,0.478415,0.591786,-0.026705,0.506759,0.453714,-0.039070,0.464663,...,-0.031267,0.364365,0.338641,-0.059013,0.383506,0.404514,-0.047340,0.372360,0.448502,-0.031051

Lables of Landmarks:

   Label_Encoded
0              4
1              1
2              2
3             27
4             18

In [52]:
print(df_encoded.isnull().sum().sum())
pd.DataFrame((df_encoded.isnull().sum()), columns = ['Sum of Null Values'])

0

               Sum of Null Values
0x                              0
0y                              0
0z                              0
1x                              0
1y                              0
...                           ...
19z                             0
20x                             0
20y                             0
20z                             0
Label_Encoded                   0

[64 rows x 1 columns]

In [53]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [54]:
print([X_train.shape, y_train.shape], [X_test.shape, y_test.shape])
input_shape = X_train.shape[1]
input_shape

[(81600, 63), (81600, 1)] [(27201, 63), (27201, 1)]

63

In [57]:
model = Sequential()

model.add(Conv1D(filters=64, kernel_size=3, activation='relu', input_shape=(input_shape,1)))
model.add(Dropout(0.2))
model.add(Conv1D(filters=64, kernel_size=3, activation='relu'))
model.add(Dropout(0.5))
model.add(layers.MaxPooling1D(pool_size=2))
model.add(layers.Flatten())
model.add(Dense(100, activation='relu'))
model.add(Dense(39, activation='softmax'))

model.compile(loss='sparse_categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [58]:
history = model.fit(X_train, y_train, epochs=10, batch_size=100, validation_split = 0.2)

Epoch 1/10
653/653 [==============================] - 30s 41ms/step - loss: 1.5163 - accuracy: 0.5646 - val_loss: 0.5154 - val_accuracy: 0.8637
Epoch 2/10
653/653 [==============================] - 27s 41ms/step - loss: 0.5359 - accuracy: 0.8400 - val_loss: 0.3226 - val_accuracy: 0.9298
Epoch 3/10
653/653 [==============================] - 25s 39ms/step - loss: 0.4215 - accuracy: 0.8765 - val_loss: 0.2599 - val_accuracy: 0.9422
Epoch 4/10
653/653 [==============================] - 28s 42ms/step - loss: 0.3585 - accuracy: 0.8962 - val_loss: 0.2174 - val_accuracy: 0.9476
Epoch 5/10
653/653 [==============================] - 25s 38ms/step - loss: 0.3227 - accuracy: 0.9050 - val_loss: 0.2081 - val_accuracy: 0.9506
Epoch 6/10
653/653 [==============================] - 25s 38ms/step - loss: 0.2892 - accuracy: 0.9144 - val_loss: 0.1727 - val_accuracy: 0.9588
Epoch 7/10
653/653 [==============================] - 25s 38ms/step - loss: 0.2633 - accuracy: 0.9228 - val_loss: 0.1475 - val_accuracy: 0.9669
Epoch 8/10
653/653 [==============================] - 25s 39ms/step - loss: 0.2411 - accuracy: 0.9301 - val_loss: 0.1459 - val_accuracy: 0.9675
Epoch 9/10
653/653 [==============================] - 23s 35ms/step - loss: 0.2223 - accuracy: 0.9359 - val_loss: 0.1283 - val_accuracy: 0.9729
Epoch 10/10
653/653 [==============================] - 24s 37ms/step - loss: 0.2078 - accuracy: 0.9382 - val_loss: 0.1178 - val_accuracy: 0.9735

In [59]:
accuracyReport = model.evaluate(X_test, y_test)

print("Accuracy on test data: "+ str(round(accuracyReport[1] * 100, 2)) +"%")

851/851 [==============================] - 4s 5ms/step - loss: 0.1185 - accuracy: 0.9742
Accuracy on test data: 97.42%

In [60]:
MODEL_PATH = "artifacts/training/"
model.save("artifacts/training/model2.h5")

c:\Users\mp123\anaconda3\envs\aslenv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [107]:
# import sqlite3

# conn = sqlite3.connect('lables.db')
# cursor = conn.cursor()
# command = "SELECT * FROM gesture"
# cursor.execute(command)

# for row in cursor:
#     print(row)

(0, 'A')
(1, 'B')
(2, 'C')
(3, 'D')
(4, 'E')
(5, 'F')
(6, 'G')
(7, 'H')
(8, 'I')
(9, 'J')
(10, 'K')
(11, 'L')
(12, 'M')
(13, 'N')
(14, 'O')
(15, 'P')
(16, 'Q')
(17, 'R')
(18, 'S')
(19, 'T')
(20, 'U')
(21, 'V')
(22, 'W')
(23, 'X')
(24, 'Y')
(25, 'Z')
(26, '0')
(27, '1')
(28, '2')
(29, '3')
(30, '4')
(31, '5')
(32, '6')
(33, '7')
(34, '8')
(35, '9')
(36, 'Best of Luck ')
(37, 'You ')
(38, 'I/Me ')
(39, 'Like ')
(40, 'Remember ')
(41, 'Love ')
(42, 'Fuck ')
(43, 'I love you')

In [4]:
import pandas as pd
SampleData = pd.read_csv("research\Data\Data.csv")
SampleData = SampleData.head()
SampleData.to_csv("research\Data\SampleData.csv")
SampleData

,0x,0y,0z,1x,1y,1z,2x,2y,2z,3x,...,18x,18y,18z,19x,19y,19z,20x,20y,20z,label
0,0.397745,0.723956,1.020000e-07,0.425051,0.702286,0.002072,0.420859,0.655324,0.011116,0.412982,...,0.370938,0.570244,0.008476,0.386548,0.578768,0.006605,0.398358,0.595288,0.007322,35
1,0.878934,0.147772,-1.950000e-07,0.824613,0.158119,-0.001307,0.769680,0.211956,-0.018524,0.746986,...,0.802236,0.286593,-0.087242,0.813189,0.272939,-0.079014,0.820886,0.246041,-0.072215,16
2,0.649333,0.710988,1.880000e-07,0.627602,0.681662,-0.004581,0.622998,0.638788,-0.008512,0.628036,...,0.719371,0.611101,-0.032208,0.734346,0.589082,-0.036118,0.747097,0.571213,-0.037721,30
3,0.600372,0.661284,-3.680000e-07,0.674040,0.575862,-0.018337,0.697808,0.451052,-0.027749,0.661655,...,0.543063,0.331698,-0.068467,0.567618,0.400806,-0.054784,0.562667,0.449255,-0.036424,12
4,0.206028,0.679749,1.090000e-06,0.242766,0.585181,0.006942,0.314367,0.547515,-0.009573,0.380275,...,0.416546,0.746297,-0.106435,0.407195,0.732529,-0.075198,0.377385,0.725130,-0.046486,7